CF-JAXWS-ApacheAxis2-AAR/BookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://service.rs.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:service="http://service.rs.com"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema targetNamespace="http://service.rs.com" elementFormDefault="qualified">
			<xs:element name="SearchBookIn" type="xs:string" />
			<xs:complexType name="book">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element name="isbn" type="xs:string" />
					<xs:element name="title" type="xs:string" />
					<xs:element name="author" type="xs:string" />
					<xs:element name="price" type="xs:float" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="RegisterBookIn" type="service:book" />
			<xs:element name="RegisterBookOut" type="service:book" />
			<xs:element name="SearchBookOut" type="service:book" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="registerBookResponse">
		<wsdl:part name="param" element="service:RegisterBookOut">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchBookResponse">
		<wsdl:part name="param" element="service:SearchBookOut">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchBookRequest">
		<wsdl:part name="isbn" element="service:SearchBookIn">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerBookRequest">
		<wsdl:part name="book" element="service:RegisterBookIn">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookService">
		<wsdl:operation name="registerBook">
			<wsdl:input message="service:registerBookRequest">
			</wsdl:input>
			<wsdl:output message="service:registerBookResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchBook">
			<wsdl:input message="service:searchBookRequest">
			</wsdl:input>
			<wsdl:output message="service:searchBookResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookServiceSoapBinding"
		type="service:BookService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="registerBook">
			<soap:operation
				soapAction="http://service.rs.com/registerBook" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchBook">
			<soap:operation
				soapAction="http://service.rs.com/searchBook" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookService">
		<wsdl:port name="BookServiceBindingPort"
			binding="service:BookServiceSoapBinding">
			<soap:address location="http://location.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
